.accountContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  gap: 40px;
}

.accountAddResidentContainer,
.accountRmvResidentContainer,
.accountLogoutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 30px 40px 30px 40px;
  white-space: wrap;
  width: 70%;
}

.addResident,
.rmvResident{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.accountMessage{
  margin-top: 10px;
  text-align: center;
  font-size: x-large;
}