.addResidentContainer{
  background-image: url("../assets/tela-de-fundo/apartments-blur.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 40px;
}

.addResidentContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #081216;
  border-radius: 15px;
  padding: 30px 40px 30px 40px;
  white-space: wrap;
  width: 70%;
}

.addResidentForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.addResidentForm input:last-child{
  margin-top: 10px;
}

.choiceOfCondominium{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin: 20px;
}

.verticalChoice,
.horizontalChoice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.verticalLabel,
.horizontalLabel{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.NotAVerticalCondominium,
.NotAHorizontalCondominium{
  display: none;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
