.AlertContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px 0px 20px 0px;
  gap: 20px;
}

.AlertContent p{
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  text-align: center;
  max-width: 60%;
}