.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  width: 50%;
  background-color: #03a9f4;
  border: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  color: white;
}

.background {
  background-color: #081216;
}

.passwordMatchError {
  border: 1px solid red;
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#optionsImage {
  width: 30px;
  height: 30px;
}

input {
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #03A9F4;
  background: rgb(226, 226, 226);
  box-shadow: 0 0 0 2px #03A9F4;
}
