@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.loginRegisterBackground {
  background-image: url("../assets/tela-de-fundo/condominios.png");
  background-color: #03a9f4;
  background-size: cover;
  height: 100vh;
}

.loginRegister {
  background-color: #081216;
  max-width: 100%;
  width: 100%;
  height: 400px;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.title {
  font-family: Roboto;
}

.text,
.title,
.button,
.button {
  color: #fff;
}
