.mainBackground{
  background-image: url("../assets/tela-de-fundo/apartments-blur.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  height: 100vh;
  gap: 50px;
}

.mainMenu{
  background-color: rgb(0, 0, 0);
  max-width: 100%;
  width: 100%;
  height: 76px;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mainMenuContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.parcelCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.parcelContent{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}

.parcelContent img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.parcelList{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  position: relative;
  height: calc(80vh - 76px);
}

.parcelList li:last-child{
  margin-bottom: 10px;
}

.itemList{
  margin: 0 10px 0 10px;
}

.parcelInfo{
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 0;
}

.parcelInfo span,
.parcelInfo h2{
  color: #000000;
}

.mainHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0 10px 0;
}

.mainHeader h1{
  color: #FFFFFF;
}

.encomenda,
.notificacao,
.conta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.menuOptions span{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
}

.parcelIcon img{
  width: 30px;
  height: 30px;
}

.parcelIcon{
  background-color: #FFFF;
  padding: 5px;
  border-radius: 60%;
}

