.webcamContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
}

.webcam{
    width: 80%;
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.webcamButton{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-8%, -18%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}