.validateContainer{
    background-image: url("../assets/tela-de-fundo/apartments-blur.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.validateContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
}

.validateContent p{
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  text-align: center;
  max-width: 42%;
}

.validateForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.validateForm input:first-child{
  margin-top: 20px;
}

.validateForm input:first-child {
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem;
  width: 100%;
}

.validateForm input:focus:first-child {
  outline: none;
  border-color: #03a9f4;
  background: rgb(226, 226, 226);
  box-shadow: 0 0 0 2px #03A9F4;
}